/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@import url('https://fonts.googleapis.com/css2?family=SourceSansPro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

:root {
  --ifm-color-primary: #76bbff; /* Dodger Blue */
  --ifm-background-color: #f1f1f1; /* Light Gray background */
  --ifm-navbar-background-color: #f1f1f1; /* Set the navbar background color to gray */
}

[data-theme='dark'] {
  --ifm-color-primary: #76bbff; /* Dodger Blue for dark mode */
  --ifm-background-color: #2C2E3A; /* Dark background for dark mode */
  --ifm-navbar-background-color: #2C2E3A; /* Set the navbar background color to dark gray for dark mode */
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--ifm-background-color) !important; /* Use the background color variable */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500; /* Adjust the weight as needed */
}

.navbar {
  background-color: var(--ifm-navbar-background-color) !important; /* Use the navbar background color variable */
}